@font-face {
    font-family: 'Noto Sans CJK JP';
    font-weight: 100;
    src: url('../fonts/noto-cjk/NotoSansCJKjp-Thin.otf');
}

@font-face {
    font-family: 'Noto Sans CJK JP';
    font-weight: 300;
    src: url('../fonts/noto-cjk/NotoSansCJKjp-Light.otf');
}

@font-face {
    font-family: 'Noto Sans CJK JP';
    font-weight: 400;
    src: url('../fonts/noto-cjk/NotoSansCJKjp-Regular.otf');
}

@font-face {
    font-family: 'Noto Sans CJK JP';
    font-weight: 500;
    src: url('../fonts/noto-cjk/NotoSansCJKjp-Medium.otf');
}

@font-face {
    font-family: 'Noto Sans CJK JP';
    font-weight: 700;
    src: url('../fonts/noto-cjk/NotoSansCJKjp-Bold.otf');
}

@font-face {
    font-family: 'Noto Sans CJK JP';
    font-weight: 900;
    src: url('../fonts/noto-cjk/NotoSansCJKjp-Black.otf');
}

@font-face {
    font-family: 'Noto Serif CJK JP';
    font-weight: 200;
    src: url('../fonts/noto-cjk/NotoSerifCJKjp-ExtraLight.otf');
}

@font-face {
    font-family: 'Noto Serif CJK JP';
    font-weight: 300;
    src: url('../fonts/noto-cjk/NotoSerifCJKjp-Light.otf');
}

@font-face {
    font-family: 'Noto Serif CJK JP';
    font-weight: 400;
    src: url('../fonts/noto-cjk/NotoSerifCJKjp-Regular.otf');
}

@font-face {
    font-family: 'Noto Serif CJK JP';
    font-weight: 500;
    src: url('../fonts/noto-cjk/NotoSerifCJKjp-Medium.otf');
}

@font-face {
    font-family: 'Noto Serif CJK JP';
    font-weight: 600;
    src: url('../fonts/noto-cjk/NotoSerifCJKjp-SemiBold.otf');
}

@font-face {
    font-family: 'Noto Serif CJK JP';
    font-weight: 700;
    src: url('../fonts/noto-cjk/NotoSerifCJKjp-Bold.otf');
}

@font-face {
    font-family: 'Noto Serif CJK JP';
    font-weight: 900;
    src: url('../fonts/noto-cjk/NotoSerifCJKjp-Black.otf');
}
